body{margin: 0px auto;}
.career-info li{list-style-type: none;display: inline-block;}
.top-header{background-color: #002a5c;padding: 5px 0px;}
.career-info{padding: 0;margin: 0;}
.career-info a{color: #fff;text-decoration: none;border-right: 1px solid #00a4e4;font-size: 12px;padding: 0px 7px;}
.header-search input{padding: 5px 12px;}
.header-search button{border: 1px solid #666666;background-color: #CECECE;padding: 6px 24px;margin-left: -5px;}
.header-search i{color: #ffff;}
.header-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}
.header-search{margin-left: 30px;}
.navbar-brand>img{width: 100%;display: inline;}
nav.navbar.bootsnav ul.nav > li > a{font-weight: normal;}
.navbar-right{position: relative;}

.about-info{padding: 10px 0px;}
.grid-info h2{font-size: 22px;color: #fff;margin: 0;padding: 15px 20px 0;text-transform: uppercase;text-align: center;font-weight: 600;}
.grid-info p{font-size: 14px;padding: 10px 20px 0px;text-align: center;font-family: serif;}
.grid-info{background: #00a4e4;color: #fff;padding-bottom: 15px;} 
.grid-info a{width: 40px;height: 40px;line-height: 42px;text-align: center;color: #01a4e4;font-size: 12px;background: #fff;
	border-radius: 100%;display: inline-block;position: relative;left: 40%;} 
.grid-info a:hover{color: #FFF;background: #002a5c;}
.sub-footer{background-color: #151a1d;
  padding: 10px 78px;
  width: 100%;
  margin-top: 20px;
  float: left;}
.copyright p{color: #a5aec1;margin-bottom: 0;padding-top: 20px;}
.powered-by p{float: right;color: #a5aec1;margin-bottom: 0;}
.powered-by a{color: #d05303;text-decoration: underline;}
.powered-by a:hover{color: #d05303;text-decoration: none;}  
.footer-social-icons {
  float: right;
  display:block;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-rss {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-rss:hover {
  background-color: #eb8231;
}
.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-google-plus {
  padding:10px 9px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-google-plus:hover {
  background-color: #e25714;
}
.copyright img{width: 250px;}
.news_slider {height: 0px;}
.news_slider img {margin-right: 10px;}
.news_slider .news-item{ border-bottom: 1px solid #999;}
.panel-body {
  padding: 15px 15px 8px 15px;
}
.panel-footer{padding: 0px;}
.events{margin-top: 10px;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: transparent;}
.navbar-brand>img{width: 70%;}
.wrap-sticky {
  height: 0px !important;
}
.navbar-header{position: absolute;}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
  padding: 6px 15px;
  border-bottom: solid 1px #eee;
  color: #6f6f6f;
}
nav.navbar.bootsnav ul.nav > li > a {
  padding: 30px 10px;
  font-size: 15px;
}



.wrapper_data .header_data{float: left;padding: 5px 10px;}
.wrapper_data .enquiry{float: right;padding: 5px 10px;}
.wrapper_data .enquiry ul{padding: 0px; 
  margin: 7px 0px;
  font-size: 13px;
  list-style-type: none;}
.wrapper_section{margin-top: 12px;}  
.header_data h4{font-size: 16px;}  
.wrapper_data .enquiry ul li{display: inline-block;cursor: pointer;color: #002a5c}
.wrapper_data{border: 1px solid #999999;
    width: 100%;
    float: left;
}
.enquiry_list{width: 100%;
  float: left;}
.enquiry_list ul{
    padding: 0px 10px;
    list-style-type: none;
  }
.enquiry_list ul li{
     display: inline-block;
     cursor: pointer;
     margin: 5px 0px;
    }
.section_header{
  border-bottom: 1px solid #999999;
  width: 100%;
  float: left;
}
.left_arrow{float: left;
  margin: 3px 6px 3px 0px;
}
.enquiry_list p{display: inline-block;
  margin: 0px;}
.sections_data{margin-top: 100px;}  
.wrapper_data .enquiry ul li:hover{color:red;}
nav.navbar.bootsnav ul.nav > li > a:hover{color:red}